<!-- {{#each teams as |team|}}
 <div class="team">

   </div>

   <div class="info-column">
     <h2><span class="Teams">/span></h2>
     <ul class="Teams-list">
       <li>Name: {{team.name}}</li>
       <li>Location: {{team.location}}</li>
       <li>Standings: {{team.standings}}</li>
     </ul>
 </div>
{{/each}} -->
